<!--<nav class="main-navigation">
    <div class="navbar-header animated fadeInUp">
        <a class="navbar-brand" href="#">Blog <i class="fa fa-book"></i></a>
    </div>
    <ul class="nav-list">
        {% if user.is_authenticated %}
        <li class="nav-list-item" style="text-decoration:underline; font-weight:bold">Logged in as {{ user.username }}</li>
        <li class="nav-list-item">
            <a href="{% url 'home' %}" class="nav-link">Home</a>
        </li>
        <li class="nav-list-item">
            <a href="{% url 'about' %}" class="nav-link">About Us</a>
        </li>
        <li class="nav-list-item">
            <a href="{% url 'posts' %}" class="nav-link">Tous les posts</a>
        </li>
        <li class="nav-list-item">
            <a href="" class="nav-link">Profile</a>
        </li>
        <li class="nav-list-item btn btn-warning">
            <a href="" class="nav-link">Logout</a>
        </li>
        {% else %}
        <li class="nav-list-item" style="font-weight:bold">Login or register to the website to get more features</li>
        <li class="nav-list-item">
            <a href="{% url 'home' %}" class="nav-link">Home</a>
        </li>
        <li class="nav-list-item"><a class="nav-link" href="">Login</a></li>
        <li class="nav-list-item"><a class="nav-link" href="">Register</a></li>
        {% endif %}
    </ul>

</nav>
-->
<header id="header" class="header position-relative">
    <div class="container-fluid container-xl position-relative">

      <div class="top-row d-flex align-items-center justify-content-between">
        <a href="{% url 'home' %}" class="logo d-flex align-items-end">
          <!-- Uncomment the line below if you also wish to use an image logo -->
          <!-- <img src="assets/img/logo.webp" alt=""> -->
          <h1 class="sitename">Blogy</h1><span>.</span>
        </a>

        <div class="d-flex align-items-center">
          <div class="social-links">
            <a href="#" class="facebook"><i class="fa fa-facebook"></i></a>
            <a href="#" class="twitter"><i class="fa fa-twitter"></i></a>
            <a href="#" class="instagram"><i class="fa fa-instagram"></i></a>
          </div>

          <form class="search-form ms-4">
            <input type="text" placeholder="Search..." class="form-control">
            <button type="submit" class="btn"><i class="fa fa-search"></i></button>
          </form>
        </div>
      </div>

    </div>

    <div class="nav-wrap">
      <div class="container d-flex justify-content-center position-relative">
        <nav id="navmenu" class="navmenu">
          <ul>
            <li><a href="{% url 'home' %}" class="active">Accueil</a></li>
            <li><a href="{% url 'about' %}">A propos</a></li>
            {% if user.is_authenticated %}
            <li><a href="{% url 'posts' %}">Tous les Articles</a></li>
            <li><a href="">Profile {{user.username}}</a></li>
            <li class="dropdown"><a href="#"><span>Categories</span> <i class="bi bi-chevron-down toggle-dropdown"></i></a>
              <ul>
                {% for category in categories %}
                <li><a href="{% url 'category' category.nom %}">{{category.nom}}</a></li>
                {% endfor %}
              </ul>
            </li>
            <li><a href="{%url 'news' %}">Actualités</a></li>
            <li><a href="{%url 'logout' %}">Logout</a></li>
            {% else %}
            <li><a href="{%url 'login' %}">Login</a></li>
            <li><a href="{%url 'register' %}">Register</a></li>
            {% endif %}
          </ul>
          <i class="mobile-nav-toggle d-xl-none bi bi-list"></i>
        </nav>
      </div>
    </div>

  </header>